.modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

body.modal-open {
  width: 100% !important;
  padding-right: 0 !important;
  overflow-y: hidden !important;
}